In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

file_path = '../data/processed/flights_final_dataset.csv'
df = pd.read_csv(file_path)

df.head(10)

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,TAXI_OUT,ARR_DELAY,ARR_DEL15,CANCELLED,DISTANCE,WEATHER_DELAY,DepHour,CRS_HOUR,Join_Time,time,Airport,temp,rhum,prcp,wspd,coco
0,1,1,1,3,2025-01-01,AA,N101NN,164,SFO,"San Francisco, CA",CA,JFK,"New York, NY",NY,1030,1024.0,-6.0,0.0,11.0,-40.0,0.0,0.0,2586.0,NaN,10,10,2025-01-01 10:00:00,2025-01-01 10:00:00,SFO,7.2,93.0,0.0,9.4,4.0
1,1,1,1,3,2025-01-01,AA,N101NN,76,JFK,"New York, NY",NY,SFO,"San Francisco, CA",CA,600,557.0,-3.0,0.0,16.0,-15.0,0.0,0.0,2586.0,NaN,5,6,2025-01-01 05:00:00,2025-01-01 05:00:00,JFK,9.4,90.0,0.9,9.4,8.0
2,1,1,1,3,2025-01-01,AA,N103NN,185,JFK,"New York, NY",NY,LAX,"Los Angeles, CA",CA,2100,2052.0,-8.0,0.0,21.0,-2.0,0.0,0.0,2475.0,NaN,20,21,2025-01-01 20:00:00,2025-01-01 20:00:00,JFK,8.3,65.0,0.1,27.7,3.0
3,1,1,1,3,2025-01-01,AA,N103NN,4,LAX,"Los Angeles, CA",CA,JFK,"New York, NY",NY,1130,1211.0,41.0,1.0,15.0,-5.0,0.0,0.0,2475.0,NaN,12,11,2025-01-01 12:00:00,2025-01-01 12:00:00,LAX,10.6,92.0,0.0,9.4,5.0
4,1,1,1,3,2025-01-01,AA,N104NN,1,JFK,"New York, NY",NY,LAX,"Los Angeles, CA",CA,659,656.0,-3.0,0.0,23.0,-7.0,0.0,0.0,2475.0,NaN,6,6,2025-01-01 06:00:00,2025-01-01 06:00:00,JFK,8.9,89.0,0.0,7.6,8.0
5,1,1,1,3,2025-01-01,AA,N104UW,2150,DFW,"Dallas/Fort Worth, TX",TX,MEM,"Memphis, TN",TN,819,817.0,-2.0,0.0,15.0,-17.0,0.0,0.0,431.0,NaN,8,8,2025-01-01 08:00:00,2025-01-01 08:00:00,DFW,5.6,73.0,0.0,16.6,2.0
6,1,1,1,3,2025-01-01,AA,N104UW,2731,DFW,"Dallas/Fort Worth, TX",TX,CLE,"Cleveland, OH",OH,1322,1339.0,17.0,1.0,15.0,4.0,0.0,0.0,1021.0,NaN,13,13,2025-01-01 13:00:00,2025-01-01 13:00:00,DFW,2.8,82.0,0.0,9.4,3.0
7,1,1,1,3,2025-01-01,AA,N105UW,1786,CLT,"Charlotte, NC",NC,EWR,"Newark, NJ",NJ,1100,1100.0,0.0,0.0,12.0,-21.0,0.0,0.0,529.0,NaN,11,11,2025-01-01 11:00:00,2025-01-01 11:00:00,CLT,6.1,57.0,0.0,11.2,1.0
8,1,1,1,3,2025-01-01,AA,N105UW,2554,CLT,"Charlotte, NC",NC,SAV,"Savannah, GA",GA,2248,2242.0,-6.0,0.0,16.0,-17.0,0.0,0.0,213.0,NaN,22,22,2025-01-01 22:00:00,2025-01-01 22:00:00,CLT,11.1,41.0,0.0,11.2,2.0
9,1,1,1,3,2025-01-01,AA,N105UW,335,CLT,"Charlotte, NC",NC,BNA,"Nashville, TN",TN,1651,1647.0,-4.0,0.0,18.0,-9.0,0.0,0.0,328.0,NaN,16,16,2025-01-01 16:00:00,2025-01-01 16:00:00,CLT,10.6,42.0,0.0,24.1,2.0